.resultsContainer {
  display: flex;
  min-height: 318px;

  .infoContainer {
    flex-grow: 1;
    margin: 10px 10px;
    border-right: 1px solid #e3e3e3;

    .infoItemContainer {
      margin-bottom: 20px;

      .infoItemResultsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        svg {
          margin-left: 10px;
          margin-right: 10px;
          display: flex;
        }
      }
    }
  }

  .mapContainer {
    flex-grow: 10;
    margin: 10px 10px;
    max-width: '100%';
    max-height: '350px';
  }
}
